body {

  font-size: 2em;
  margin: 10%;
}

button {
  width: 80px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
  margin: 10px;
}

ul {
  display: inline-block;
}

.jumbotron {
  width: 500px;
  height: 500px;
  background-color: blueviolet;
}

#name {
  color: red;
  border: 1px solid green;
}